<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <!-- <li>姓名-年龄</li> -->
            <!-- 有相同父元素的子元素必须有独特的 key。重复的 key 会造成渲染错误。 -->
            <li v-for="person in persons" :key="person.id">{{person.name}}-{{person.age}}</li>
        </ul>

        <ul>
            <li v-for="(person,index) of persons" :key="index">{{person.name}}-{{person.age}}</li>
        </ul>
        <h2>汽车信息</h2>
        <ul>
            <li v-for="(value,key) in cars" :key="key">{{value}}-{{key}}</li>
        </ul>

        <h2>测试字符串</h2>
        <ul>
            <li v-for="(char,index) in str" :key="index">{{char}}-{{index}}</li>
        </ul>

        <h2>遍历指定次数</h2>
        <ul>
            <li v-for="(number,index) in 5" :key="index">{{number}}-{{index}}</li>
        </ul>
    </div> 
</body>
<script>
    Vue.config.productionTip=false;
    new Vue({
        el:'#root',
        data:{
            persons:[
                {id:1,name:'张三',age:'18'},
                {id:2,name:'李四',age:'19'},
                {id:3,name:'王五',age:'20'}
            ],
            cars:{
                name:'a8',
                price:'70w',
                color:'black'
            },
            str:'hello'
        }
    });
</script>
</html>