<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        姓名: <span>{{fullName}}</span><br>
        姓名: <span>{{fullName}}</span>
    </div>
</body>
<script>
    Vue.config.productionTip=false;
    new Vue({
        el:'#root',
        data:{
            firstName:'张',
            lastName:'三',
        },
        computed:{
            // fullName:{
            //     // 完整写法
            //     get(){
            //         console.log('get被调用了');
            //         return this.firstName + '-' + this.lastName
            //     }

                
                
            // }
            // 简写形式
            // 计算属性只考虑读取不考虑修改，才能使用简写形式
            fullName(){
                console.log('get被调用了');
                return this.firstName + '-' + this.lastName;
            }
        }
    });
</script>
</html>